# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Variables sensibles
*.tfvars
!terraform.tfvars.example

.env
.env.*
*.env

# Terraform plans
*.tfplan
plan.out

#Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/

.scannerwork/

docker-compose.override.yml

.aws/